progress:not([value]){
	position: relative;
	-webkit-appearance: textarea;
	width: var(--size);
	height: var(--size);
}
progress:not([value])::after {
	content: ' ';
	display: block;
	background: url('data:image/gif;base64,R0lGODlhBQAFAIAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQJCAABACwAAAAABQAFAAACBUxgqctWACH5BAkIAAEALAAAAAAFAAUAAAIFjAOny1YAIfkECQgAAQAsAAAAAAUABQAAAgWMjwiZBQAh+QQJCAABACwAAAAABQAFAAACBYyPqQcFACH5BAkIAAEALAAAAAAFAAUAAAIFjI+pAVYAIfkECQgAAQAsAAAAAAUABQAAAgWMj5mABQAh+QQJCAABACwAAAAABQAFAAACBYyPgLsFACH5BAEIAAEALAAAAAAFAAUAAAIFRI6piwUAOw==');
	background-size: cover;
	image-rendering: pixelated;
	position: absolute;
	width:100%;
	height:100%;
	top: 0;
	left: 0;
}
