
[data-tooltip]{
  position: relative;
}
[data-tooltip]::after {
	content: attr(data-tooltip);
  position: absolute;
	pointer-events: none;
	background: var(--text);
	color: var(--back);
  top: calc(var(--size)*1.2);
	border-radius:var(--radius);
	opacity: 0;
	left: 0;
	width: 200px;
  padding: .5em;
	font-weight: initial;text-decoration:initial;text-align:initial;
	font-size: var(--size);
	backdrop-filter: blur(3px);
	transition: opacity 250ms, top 250ms;
}
[data-tooltip]:hover::after,
[data-tooltip]:focus::after {
	z-index:2;
	opacity:.85;
  top: calc(var(--size)*1.5);
}

